[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sqlalchemy = "*"
boto3 = "*"
pyyaml = "*"
fastapi = {extras = ["all"], version = "*"}
pyppeteer = "*"

[dev-packages]
flake8 = "*"
black = "*"
awscli = "*"
ipython = "*"
jupyterlab = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
