<!DOCTYPE html>
<html>
  <head>
    <title>WenchFeed</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function () {
        $.get(
          "{{ url_for('html_element') }}",
          (success = function (data) {
            console.log(data);
            $(".main-content")
              .html(data)
              .after($.getScript("https://www.tiktok.com/embed.js"));
          })
        );
      });
    </script>
  </head>
  <body>
    <h1>WenchFeed</h1>
    <h2>Like BuzzFeed, but less sh*tty</h2>
    <div class="header-banner"></div>
    <div class="bottom">
      <div class="mid-panel">
        <div class="main-content"></div>
      </div>
    </div>
  </body>
</html>
