<!DOCTYPE html>
<html>
  <head>
    <title>WenchFeed</title>
    <link rel="shortcut icon" href="static/favicon-black.png" />
    <meta charset="UTF-8" />

    <link href="static/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function () {
        $.get(
          "{{ url_for('html_element') }}",
          (success = function (data) {
            console.log(data);
            $(".main-content")
              .html(data)
              .done($.getScript("https://www.tiktok.com/embed.js"));
          })
        );
      });
    </script>
  </head>
  <body>
    <div class="header-banner"><img src="static/banner.png" alt="Main Logo" /></div>
    <div class="bottom">
      <div class="mid-panel">
        <div class="main-content"></div>
      </div>
    </div>
    <div class="final-words"> Developed by Uygar Sozer, designed by Apurva Tandon & Vero Veliz. All rights reserved. ©</div>
  </body>
</html>
